<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Edit Vehicle</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="year">Year</label>
                    <input id="year" type="text" class="form-control" ng-model="VehiclesDetailCtrl.vehicle.year">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="make">Make</label>
                    <input id="make" type="text" class="form-control" ng-model="VehiclesDetailCtrl.vehicle.make">
                </div>
            </div>

        <div class="col-xs-6">
        <div class="form-group">
            <label for="model">Model</label>
            <input id="model" type="text" class="form-control" ng-model="VehiclesDetailCtrl.vehicle.model">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
            <label for="color">Color</label>
            <input id="color" type="text" class="form-control"ng-model="VehiclesDetailCtrl.vehicle.color">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
            <label for="retailPrice">Retail Price</label>
            <input id="retailPrice" type="text" class="form-control"ng-model="VehiclesDetailCtrl.vehicle.retailPrice">
        </div>
      </div>
        </div>
        <div class="panel-footer clearfix">
        <button class="btn btn-success pull-right" ng-click="vehiclesDetailCtrl.save()">
          Save <i class="glyphicon glyphicon-save"></i>
        </button>
    </div>
</div>
